@import "compass";

@mixin button($size, $b-radius, $color, $gradient, $f-size) {
  padding: $size;
  font-size: $f-size;
  color: #ffffff;
  border: none;
  border-radius: $b-radius;
  text-decoration: none;
  display: inline-block;
  text-align: center;

  @if ($gradient) {
    @include background(linear-gradient(to bottom left, $color, shade($color, 50)));
  }
  @else {
    background: $color;
  }

  &:hover {
    @if ($gradient) {
      @include background(linear-gradient(to top right, shade($color, 10), shade($color, 60)));
    }
    @else {
      background: shade($color, 10);
    }
  }

}


@mixin gradient($direction) {
  @include background(linear-gradient($direction, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)));
}