$bg-color: #eee;
$body-color: #fff;

$link-color: #555;
$link-hcolor: #006aac;
$link-fsize: 0.9em;
$link-fweight: 400;

$slider-height: 500px;

$shadow-color: rgba(51,51,51,.3);
$item-shadow: 0 3px 6px 0 $shadow-color;

$today-deals-ht: 380px;
$today-tab: 50px;

$phone-height: 650px;
$phone-box-ht: $phone-height + 68px;

$discount-color: #f53700;

$section-space: 50px;

// Search

$product-ht: 180px;
$border: 1px solid;
$border-color: #ddd;
$border-color-hover: #ccc;
$main-border: 1px solid #e9e9e9;
$product-shadow: 2px 2px 4px rgba(0,0,0,.13);

// Product

$img-view-ht: 400px;